---
interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="bg-gradient-to-t from-emerald-600 via-emerald-400 to-emerald-200">

			
		<header>
			
				<div class="grid grid-cols-12 ">
					<div class="col-span-2" >
						<br/>
						<img src="../../public/avatar-PhotoRoom.png" alt="avatar"  width="200" height="200"  decoding="async"
						loading="lazy"/>
					</div>
					<div class="col-span-9">
						<br/>
						<br/>
						<h2 class="text-6xl text-white text-center ">¡Hola! </h2>	
						<br/>
						<h2 class="text-6xl text-white text-center "> Mi nombre es Agua Santas Núñez</h2>
					</div>
			
		</div>
			</div>
								
		</header>

		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background:rgb(255, 235, 192);
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1{
		color:rgb(148, 148, 246);
		text-align: center;
		
	}
</style>
